# Gradle
.gradle/
build/
out/

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Forge / Minecraft run
run/
logs/
crash-reports/

# OS
.DS_Store
Thumbs.db

# Eclipse / IntelliJ generated
bin/

# Forge user dev
*.launch
eclipse/

# Minecraft saves accidentally placed in repo
saves/

#zirzop dosyalar
desktop.ini
Dependencies.zip
bixis-addons-1.0.0.zip